body {
  background-color: $background;
  font-family: 'Open Sans', sans-serif;
}

@mixin paddings-desktop {
  padding-left: 9.75%;
  padding-right: 9.75%;
}

@mixin paddings-mob-tab {
  padding-left: 6.2%;
  padding-right: 6.2%;
}