.app {
  @include paddings-mob-tab;
  padding-top: 20px;
  position: relative;
}

.app__title {
  color: $orange;
  font-weight: 300;
  font-size: 25px;
  line-height: 120%;
  margin-bottom: 15px;
}

.app__p {
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  color: rgba($white-background, 0.7);
}

.app__inner {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 40px;
}

.app__phone {
  margin: auto;
}

.app__phone-desktop {
  display: none;
}

.app__decoration-tab,
.app__decoration-desk {
  display: none;
}

.app__decoration-mob {
  position: absolute;
  top: 40%;
  right: 0;
  z-index: -5;
  height: 300px;
  width: 100%;
}

.app__circle {
  position: absolute;
  z-index: -15;
}

.app__circle--tab,
.app__circle--desk,
.app__circle--desk--2 {
  display: none;
}

.app__circle--mob {
  left: 0;
  top: 8%;
  height: 550px;
  width: 100%;
}

@media (min-width:$tablet-width) {
  .app {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    align-items: center;
  }

  .app__title {
    font-size: 28px;
    line-height: 110%;
  }

  .app__p {
    font-size: 14px;
    line-height: 160%;
    font-weight: 300;
    padding-right: 10%;
  }

  .app__inner {
    justify-content: start;
    width: 83%;
  }

  .app__link {
    margin-right: 15px;
  }

  .app__decoration-mob,
  .app__decoration-desk {
    display: none;
  }

  .app__decoration-tab {
    display: block;
    position: absolute;
    right: 0;
    top: -60%;
    height: 600px;
    z-index: -5;
  }

  .app__phone {
    position: relative;
    z-index: -8;
  }

  .app__circle--mob,
  .app__circle--desk {
    display: none;
  }

  .app__circle--tab {
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

@media (min-width:$desktop-width) {
  .app {
    @include paddings-desktop;
    padding-top: 80px;
  }

  .app__block:nth-child(2) {
    margin-right: 12%;
  }

  .app__title {
    font-size: 45px;
    line-height: 110%;
    margin-bottom: 30px;
  }

  .app__p {
    font-size: 16px;
    line-height: 150%;
    padding-right: 35%;
  }

  .app__inner {
    width: 46%;
    margin-top: 40px;
  }

  .app__phone-desktop {
    display: block;
    position: relative;
    z-index: -8;
  }

  .app__phone {
    display: none;
  }

  .app__decoration-mob,
  .app__decoration-tab {
    display: none;
  }

  .app__decoration-desk {
    display: block;
    position: absolute;
    right: 0;
    top: -256px;
    z-index: -5;
  }

  .app__circle--mob,
  .app__circle--tab {
    display: none;
  }

  .app__circle--desk {
    display: block;
    top: -30%;
    right: 0;
    height: 100%;
    width: 70%;
  }

  .app__circle--desk--2 {
    display: block;
    left: 0;
    bottom: 0;
  }
}