.description {
  @include paddings-mob-tab;
  padding-top: 40px;
  padding-bottom: 50px;
  position: relative;
}

.description__title {
  color: $white-background;
  font-weight: 300;
  font-size: 25px;
  line-height: 120%;
  margin-bottom: 25px;
}

.description__inner {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}

.description__p {
  color: rgba($white-background, 0.7);
  font-weight: 300;
  font-size: 12px;
  line-height: 170%;
}

.description__img {
  width: 100%;
  border-radius: 15px;
  background-color: $white-background;
  margin-top: 15px;
}

.description__subtitle {
  color: $orange;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 30px;
  position: relative;
}

.description__subtitle::after {
  content: '';
  width: 35.7%;
  height: 2px;
  background-color: $orange;
  position: absolute;
  top: 30px;
  left: 0;
}

.description__images {
  display: none;
}

.description__decoration {
  display: none;
}

.description__decoration-tablet {
  display: none;
}

.description__decoration-circle {
  position: absolute;
  top: -380px;
  left: 0;
  z-index: -5;
  width: 100%;
}

.description__decoration-circle--tab {
  display: none;
}

.description__decoration-circle--desk {
  display: none;
}

.description__inner:nth-child(3) {
  position: relative;
}

@media (min-width:$tablet-width) {
  .description {
    margin-bottom: 40px;
  }

  .description__title {
    font-size: 30px;
    line-height: 110%;
  }

  .description__subtitle {
    font-size: 20px;
  }

  .description__subtitle::after {
    top: 35px;
    width: 26.8%;
  }

  .description__p {
    font-size: 14px;
  }

  .description__decoration-tablet {
    display: block;
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 65%;
    z-index: -5;
  }

  .description__decoration-circle--mob {
    display: none;
  }

  .description__decoration-circle--tab {
    display: block;
  }

  .description__inner:nth-child(3)::before {
    top: 0;
    left: -10%;
    opacity: 0.6;
    filter: blur(140px);
  }
}

@media (min-width:$desktop-width) {
  .description {
    padding-top: 100px;
    padding-bottom: 60px;
    @include paddings-desktop;
  }

  .description__title {
    font-size: 45px;
    padding-right: 15%;
    margin-bottom: 60px;
  }

  .description__block {
    display: flex;
    justify-content: space-between;
  }

  .description__inner {
    width: 31.1%;
  }

  .description__subtitle::after {
    width: 100%;
    background-color: $grey;
  }

  .description__inner:nth-child(2) .description__subtitle::after {
    width: 121.5%;
    left: -10.7%;
  }

  .description__img {
    display: none;
  }

  .description__subtitle,
  .description__p {
    color: $grey;
  }

  .description__inner:hover .description__subtitle {
    color: $white-background;
  }

  .description__inner:hover .description__p {
    color: rgba($white-background, 0.7);
  }

  .description__inner:hover .description__subtitle::after {
    background-color: $orange;
  }

  .description__images {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .description__img-desktop {
    border-radius: 15px;

    &:first-child {
      width: 65.57%;
      z-index: 5;
    }

    &:last-child {
      width: 31.07%;
    }
  }

  .description__decoration {
    display: block;
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 100%;
  }

  .description__decoration-tablet {
    display: none;
  }

  .description__decoration-circle--tab {
    display: none;
  }

  .description__decoration-circle--desk {
    display: block;
    width: auto;
  }

  .description__inner:nth-child(3)::before {
    top: 200%;
    left: 10%;
    opacity: 1;
    filter: blur(120px);
  }
}