.modal-review {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 100;
}

.modal-review__wrapper {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  background-color: $background;
  background: linear-gradient(130deg, rgba(34, 34, 34, 1) 0%, rgba(51, 51, 51, 1) 100%);
  width: 90vw;
  padding: 10% 7%;
  padding-top: 15%;
  border-radius: 10px;
  position: relative;
}

.modal-review__close {
  background-color: $grey;
  position: absolute;
  top: 5%;
  right: 7%;
  width: 20%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 300;
  color: $white-background;
  box-shadow: inset 0 0 10px $background;

  &:hover {
    color: $orange;
  }
}

.modal-review__title {
  font-weight: 300;
  font-size: 23px;
  color: $orange;
  text-align: center;
  margin-bottom: 15px;
}

.modal-review__block {
  position: relative;
}

.modal-review__name,
.modal-review__review {
  width: 100%;
  padding: 8px 4%;
  background-color: $grey;
  background: none;
  border: 1px solid $white-background;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  color: $orange;

  &:focus {
    outline: none;
    border-color: $orange;
  }
}

.modal-review__label {
  color: $white-background;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  top: 11%;
  left: 4%;
  transition: 0.3s
}

.modal-review__label-focus {
  background-color: $background;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 5px;
  font-size: 12px;
  top: -20%;
  transition: 0.3s
}

.modal-review__label--2 {
  top: 3.3%
}

.modal-review__label-focus--2 {
  background-color: $background;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 5px;
  font-size: 12px;
  top: -5%;
  transition: 0.3s
}

.modal-review__button {
  @include button;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

@media (min-width:$tablet-width) {
  .modal-review__wrapper {
    width: 60vw;
    padding: 5%;
    padding-top: 9%;
    left: 0%;
    margin: 0 auto;
  }

  .modal-review__title {
    font-size: 30px;
  }

  .modal-review__name,
  .modal-review__review {
    font-size: 16px;
  }
}

@media (min-width:$desktop-width) {
  .modal-review__wrapper {
    width: 40vw;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-right: 4%;
    padding-left: 4%;
    left: 0%;
    margin: 0 auto;
  }

  .modal-review__close {
    right: 12.5%;
  }

  .modal-review__wrapper {
    background: linear-gradient(130deg, rgba(34,34,34,1) 31%, rgba(51,51,51,1) 100%);
  }

  .modal-review__title {
    font-size: 38px;
  }

  .modal-review__name,
  .modal-review__review {
    font-size: 18px;
  }

  .modal-review__label {
    font-size: 18px;
  }

  .modal-review__label-focus,
  .modal-review__label-focus--2 {
    font-size: 14px;
    top: -4%;
  }

  .modal-review__label-focus {
    top: -18%;
  }

  .modal-review__button {
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
  }
}