.modal {
  @include modal;
  display: none;
}

.modal--show {
  display: block;
}

.modal__wrapper {
  @include modal-wrapper;
}

.modal__close {
  background-color: $grey;
  position: absolute;
  top: 5%;
  right: 7%;
  width: 20%;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 300;
  color: $white-background;
  box-shadow: inset 0 0 10px $background;

  &:hover {
    color: $orange;
  }
}

.modal__title {
  font-weight: 300;
  font-size: 23px;
  color: $orange;
  text-align: center;
  margin-bottom: 15px;
}

.modal__block {
  position: relative;
}

.modal__name,
.modal__review,
.modal__mail,
.modal__text {
  width: 100%;
  padding: 10px 4%;
  background-color: $grey;
  background: none;
  border: 2px solid rgba($white-background, 0.7);
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  color: $orange;

  &:focus {
    outline: none;
    border-color: $orange;
  }
}

.modal__label {
  color: $white-background;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  top: 15%;
  left: 4%;
  transition: 0.3s
}

.modal__label-focus {
  background-color: $orange;
  padding-bottom: 1px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 5px;
  font-size: 12px;
  top: -19%;
  transition: 0.3s
}

.modal__label--2 {
  top: 3.3%
}

.modal__label-focus--2 {
  background-color: $orange;
  padding-bottom: 1px;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 5px;
  font-size: 12px;
  top: -4.8%;
  transition: 0.3s
}

.modal__button {
  @include button;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

@media (min-width:$tablet-width) {
  .modal__title {
    font-size: 30px;
    color: $white-background;
  }

  .modal__name,
  .modal__review,
  .modal__mail,
  .modal__text {
    font-size: 16px;
    padding-top: 12px;
  }
}

@media (min-width:$desktop-width) {
  .modal__close {
    right: 12.5%;
  }

  .modal__wrapper {
    background: linear-gradient(130deg, rgba(34,34,34,1) 31%, rgba(51,51,51,1) 100%);
  }

  .modal__title {
    font-size: 38px;
  }

  .modal__name,
  .modal__review,
  .modal__mail,
  .modal__text {
    font-size: 18px;
  }

  .modal__label {
    font-size: 18px;
  }

  .modal__label-focus,
  .modal__label-focus--2 {
    font-size: 14px;
    top: -4%;
  }

  .modal__label-focus {
    top: -18%;
  }

  .modal__button {
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
  }
}