.safe {
  @include paddings-mob-tab;
  padding-top: 10px;
  padding-bottom: 40px;
  position: relative;
}

.safe__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: $white-background;
  margin-bottom: 20px;
}

.safe__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: $orange;
  margin-bottom: 27px;
  position: relative;
}

.safe__subtitle::after {
  content: '';
  width: 35.7%;
  height: 2px;
  background-color: $orange;
  position: absolute;
  top: 27px;
  left: 0;
}

.safe__p {
  font-weight: 300;
  font-size: 12px;
  line-height: 170%;
  color: rgba($white-background, 0.7);
  margin-bottom: 15px;
}

.safe__img {
  width: 100%;
}

.safe__block {
  margin-bottom: 35px;
}

.safe__block:nth-child(5) {
  margin-bottom: 0;
}

.safe__images {
  display: none;
}

.safe__break {
  display: none;
}

.safe__decoration-mob {
  position: absolute;
  top: -300px;
  right: 0;
  z-index: -5;
}

.safe__decoration-desk {
  display: none;
}

.safe__circle {
  position: absolute;
  z-index: -5;
}

.safe__circle--mob {
  top: -30%;
  right: 0;
  width: 100%;
}

.safe__circle--tab,
.safe__circle--desk {
  display: none;
}

@media (min-width:$tablet-width) {
  .safe {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .safe__title {
    font-size: 28px;
    line-height: 110%;
    margin-bottom: 40px;
  }

  .safe__subtitle {
    font-size: 20px;
    line-height: 120%;
  }

  .safe__subtitle::after {
    top: 32px;
    width: 26.8%;
  }

  .safe__p {
    font-size: 14px;
    line-height: 160%;
  }

  .safe__decoration-mob,
  .safe__circle--mob,
  .safe__circle--desk {
    display: none;
  }

  .safe__circle--tab {
    display: block;
    left: 0;
    top: -30%;
  }
}

@media (min-width:$desktop-width) {
  .safe {
    @include paddings-desktop;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .safe__block {
    width: 23%;
  }

  .safe__block:hover .safe__subtitle {
    color: $white-background;
  }

  .safe__block:hover .safe__p {
    color: rgba($white-background, 0.7);
  }

  .safe__block:hover .safe__subtitle::after {
    background-color: $orange;
  }

  .safe__subtitle,
  .safe__p {
    color: $grey;
  }

  .safe__break {
    display: block;
  }

  .safe__subtitle::after {
    top: 120%;
    width: 111.9%;
    background-color: $grey;
  }

  .safe__block:nth-child(5) .safe__subtitle::after {
    width: 100%;
  }

  .safe__title {
    font-weight: 500;
    font-size: 45px;
    line-height: 110%;
    color: $orange;
    width: 100%;
  }

  .safe__img {
    display: none;
  }

  .safe__images {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: start;
    width: 100%;
  }

  .safe__img-desktop {
    width: 100%;
  }

  .safe__img-desktop:last-child {
    z-index: -8;
  }

  .safe__decoration-mob,
  .safe__circle--mob,
  .safe__circle--tab {
    display: none;
  }

  .safe__decoration-desk {
    display: block;
    position: absolute;
    left: 0;
    top: -40%;
    z-index: -5;
  }

  .safe__circle--desk {
    display: block;
    left: 0;
    top: -90%;
  }
}